# Core ML frameworks
catboost==1.2
xgboost==2.0.3
lightgbm==4.1.0
scikit-learn==1.4.1.post1
imblearn==0.0
imbalanced-learn==0.11.0

# Data manipulation
pandas==2.2.1
numpy==1.26.4

# Visualization
matplotlib==3.8.3
seaborn==0.13.2

# Web app
streamlit==1.32.2

# Finance data
yfinance==0.2.36

# Optional: for math rendering in Streamlit (LaTeX)
sympy==1.12
